<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Chat box</h1>
    <button id="startchat" data-roomid="<%= id%>">Start Chat</button>
    <!-- <input type="text" id="roomId" placeholder="roomid.." /> -->
    <input type="text" id="username" placeholder="username.." />
    <input type="text" id="newmsg" placeholder="message" />
    <button id="btn">Send</button>
    <ul id="msglist"></ul>

    <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io(); //this socket objects emits a connection event.
      let startchat = document.getElementById("startchat");

      let btn = document.getElementById("btn");
      let inputMsg = document.getElementById("newmsg");
      let username=document.getElementById('username');
      let msgList = document.getElementById("msglist");
      //onclick button it will send msg
      btn.onclick = function exec() {
        socket.emit("msg_send", {
          msg: inputMsg.value,
          username:username.value,
          roomid:startchat.getAttribute('data-roomid')
        });
      };

      startchat.onclick=function exec(){
socket.emit('join_room',{
    roomid:startchat.getAttribute('data-roomid')
});

      }
      //it will received message from backend
      socket.on("msg_recieved", (data) => {
        console.log(data);
        let limsg = document.createElement("li");
        limsg.innerText = `${data.username}:${data.msg}`;
        msgList.appendChild(limsg);
      });
    </script>
  </body>
</html>
